* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_4 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v51_1386 {
  width: 256px;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v51_1387 {
  width: 240px;
  height: 172px;
  background: url("../images/v51_1387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 8px;
  overflow: hidden;
}
.v51_1388 {
  width: 240px;
  height: 40px;
  background: rgba(247,247,247,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1390 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1391 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1393 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1394 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1396 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1397 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1399 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1400 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v51_1401 {
  width: 240px;
  height: 84px;
  background: url("../images/v51_1401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 930px;
  left: 8px;
  overflow: hidden;
}
.v51_1402 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1404 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1405 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1407 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1416 {
  width: 256px;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v51_1417 {
  width: 240px;
  height: 172px;
  background: url("../images/v51_1417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 8px;
  overflow: hidden;
}
.v51_1418 {
  width: 240px;
  height: 40px;
  background: rgba(247,247,247,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1420 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1421 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1423 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1427 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v55_1429 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1427 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1429 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1503 {
  width: 240px;
  height: 57px;
  background: url("../images/v51_1503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 8px;
  overflow: hidden;
}
.v51_1431 {
  width: 240px;
  height: 84px;
  background: url("../images/v51_1431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 930px;
  left: 8px;
  overflow: hidden;
}
.v51_1432 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1434 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1435 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1437 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v51_1424 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 881px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v51_1426 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1422 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 312px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v55_1424 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1417 {
  width: 240px;
  height: 40px;
  background: rgba(255,255,255,1);
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 611px;
  left: 429px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v55_1419 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 56px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v54_1422 {
  width: 850px;
  height: 357px;
  background: rgba(255,255,255,1);
  padding: 40px 40px;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 430px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 2.226077079772949px 17px rgba(0.6666666865348816, 0.6666666865348816, 0.6666666865348816, 0.029999999329447746);
  overflow: hidden;
}
.v54_1423 {
  width: 340px;
  height: 19px;
  background: url("../images/v54_1423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 41px;
  overflow: hidden;
}
.v54_1424 {
  width: 134px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v54_1425 {
  width: 31px;
  height: 6px;
  background: rgba(255,255,255,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 309px;
  overflow: hidden;
}
.v54_1426 {
  width: 4px;
  height: 4px;
  background: url("../images/v54_1426.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 1.1130385398864746px solid rgba(51,51,51,1);
  transform: rotate(-45deg);
}
.v54_1427 {
  width: 4px;
  height: 4px;
  background: url("../images/v54_1427.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 22px;
  border: 1.1130385398864746px solid rgba(51,51,51,1);
  transform: rotate(-135deg);
}
.v54_1428 {
  width: 374px;
  height: 255px;
  background: url("../images/v54_1428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 41px;
  overflow: hidden;
}
.v54_1429 {
  width: 294px;
  height: 237px;
  background: url("../images/v54_1429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}
.v54_1430 {
  width: 294px;
  height: 20px;
  background: url("../images/v54_1430.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_1431 {
  width: 26px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1432 {
  width: 20px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 50px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1433 {
  width: 26px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 95px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1434 {
  width: 21px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 144px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1435 {
  width: 16px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 189px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1436 {
  width: 21px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 229px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1437 {
  width: 21px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 273px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1438 {
  width: 139px;
  height: 20px;
  background: url("../images/v54_1438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 151px;
  overflow: hidden;
}
.v54_1439 {
  width: 8px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 141px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1440 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 95px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1441 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1442 {
  width: 8px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1443 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1444 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 84px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1445 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 128px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1446 {
  width: 284px;
  height: 39px;
  background: url("../images/v54_1446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 8px;
  overflow: hidden;
}
.v54_1447 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1448 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 9px;
  left: 47px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1449 {
  width: 10px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 9px;
  left: 95px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1450 {
  width: 39px;
  height: 39px;
  background: rgba(73,125,173,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 127px;
  border-radius: 50%;
}
.v54_1451 {
  width: 11px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 142px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1452 {
  width: 11px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 9px;
  left: 184px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1453 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 9px;
  left: 223px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1454 {
  width: 16px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 9px;
  left: 268px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1455 {
  width: 289px;
  height: 20px;
  background: url("../images/v54_1455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 4px;
  overflow: hidden;
}
.v54_1456 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1457 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 48px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1458 {
  width: 20px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 94px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1459 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 142px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1460 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 185px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1461 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 227px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1462 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 271px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1463 {
  width: 291px;
  height: 20px;
  background: url("../images/v54_1463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 4px;
  overflow: hidden;
}
.v54_1464 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1465 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 46px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1466 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 95px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1467 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 141px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1468 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 184px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1469 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 226px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1470 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 270px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1471 {
  width: 248px;
  height: 20px;
  background: url("../images/v54_1471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 3px;
  overflow: hidden;
}
.v54_1472 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1473 {
  width: 20px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 48px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1474 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 95px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1475 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 142px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1476 {
  width: 23px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 185px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1477 {
  width: 19px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 230px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v54_1478 {
  width: 23px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 271px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v55_1412 {
  width: 218px;
  background: url("../images/v55_1412.png");
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 855px;
  border: 1px solid rgba(0,0,0,1);
}
.v55_1416 {
  width: 374px;
  height: 288px;
  background: url("../images/v55_1416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 690px;
  left: 878px;
  overflow: hidden;
}
.v55_1408 {
  width: 374px;
  height: 28px;
  background: url("../images/v55_1408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 0px;
  overflow: hidden;
}
.v55_1409 {
  width: 21px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v55_1410 {
  width: 231px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v55_1414 {
  width: 231px;
  height: 31px;
  background: url("../images/v55_1414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}
.v54_1484 {
  width: 27px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_1485 {
  width: 231px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v55_1415 {
  width: 188px;
  height: 31px;
  background: url("../images/v55_1415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 0px;
  overflow: hidden;
}
.v54_1481 {
  width: 23px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_1482 {
  width: 188px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v55_1650 {
  width: 138px;
  height: 19px;
  background: url("../images/v55_1650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1652 {
  width: 138px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1609 {
  width: 516px;
  height: 424px;
  background: rgba(255,255,255,1);
  padding: 40px 40px;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 881px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 2.226077079772949px 17px rgba(0.6666666865348816, 0.6666666865348816, 0.6666666865348816, 0.029999999329447746);
  overflow: hidden;
}
.v56_1523 {
  width: 435px;
  height: 35px;
  background: url("../images/v56_1523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 903px;
  overflow: hidden;
}
.v56_1524 {
  width: 137px;
  height: 35px;
  background: url("../images/v56_1524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_1525 {
  width: 124px;
  color: rgba(0,0,0,0.8999999761581421);
  position: absolute;
  top: 6px;
  left: 7px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v56_1526 {
  width: 119px;
  height: 2px;
  background: url("../images/v56_1526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}
.v56_1527 {
  width: 23px;
  height: 1px;
  background: rgba(48,134,243,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_1528 {
  width: 23px;
  height: 2px;
  background: rgba(7,218,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v56_1529 {
  width: 162px;
  height: 0px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 27px;
}
.v56_1530 {
  width: 298px;
  height: 35px;
  background: url("../images/v56_1530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 138px;
  overflow: hidden;
}
.v56_1531 {
  width: 649px;
  height: 5px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
}
.v56_1532 {
  width: 25px;
  color: rgba(255,255,255,0.550000011920929);
  position: absolute;
  top: 10px;
  left: 273px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: right;
}
.v55_1612 {
  width: 457px;
  height: 286px;
  background: url("../images/v55_1612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 904px;
  overflow: hidden;
}
.v55_1613 {
  width: 457px;
  height: 72px;
  background: url("../images/v55_1613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v55_1614 {
  width: 48px;
  height: 48px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v55_1615 {
  width: 48px;
  height: 48px;
  background: url("../images/v55_1615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1616 {
  width: 393px;
  height: 48px;
  background: url("../images/v55_1616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 64px;
  overflow: hidden;
}
.v55_1617 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1618 {
  width: 393px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1619 {
  width: 457px;
  height: 72px;
  background: url("../images/v55_1619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v55_1620 {
  width: 48px;
  height: 48px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v55_1621 {
  width: 48px;
  height: 48px;
  background: url("../images/v55_1621.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1622 {
  width: 393px;
  height: 48px;
  background: url("../images/v55_1622.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 64px;
  overflow: hidden;
}
.v55_1623 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1624 {
  width: 393px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1625 {
  width: 457px;
  height: 72px;
  background: url("../images/v55_1625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v55_1626 {
  width: 48px;
  height: 48px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v55_1627 {
  width: 48px;
  height: 48px;
  background: url("../images/v55_1627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1628 {
  width: 393px;
  height: 48px;
  background: url("../images/v55_1628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 64px;
  overflow: hidden;
}
.v55_1629 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1630 {
  width: 393px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1631 {
  width: 457px;
  height: 72px;
  background: url("../images/v55_1631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v55_1632 {
  width: 48px;
  height: 48px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v55_1633 {
  width: 48px;
  height: 48px;
  background: url("../images/v55_1633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_1634 {
  width: 393px;
  height: 48px;
  background: url("../images/v55_1634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 64px;
  overflow: hidden;
}
.v55_1635 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v55_1636 {
  width: 393px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v56_1521 {
  width: 516px;
  height: 424px;
  background: rgba(255,255,255,1);
  padding: 40px 40px;
  margin: 31px;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 312px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 2.226077079772949px 17px rgba(0.6666666865348816, 0.6666666865348816, 0.6666666865348816, 0.029999999329447746);
  overflow: hidden;
}
.v56_1416 {
  width: 435px;
  height: 35px;
  background: url("../images/v56_1416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 41px;
  overflow: hidden;
}
.v56_1417 {
  width: 186px;
  height: 35px;
  background: url("../images/v56_1417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_1418 {
  width: 173px;
  color: rgba(0,0,0,0.8999999761581421);
  position: absolute;
  top: 6px;
  left: 7px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v56_1419 {
  width: 119px;
  height: 2px;
  background: url("../images/v56_1419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}
.v56_1420 {
  width: 23px;
  height: 1px;
  background: rgba(48,134,243,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_1421 {
  width: 23px;
  height: 2px;
  background: rgba(7,218,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v56_1422 {
  width: 162px;
  height: 0px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 27px;
}
.v56_1423 {
  width: 249px;
  height: 35px;
  background: url("../images/v56_1423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 187px;
  overflow: hidden;
}
.v56_1424 {
  width: 649px;
  height: 5px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
}
.v56_1425 {
  width: 25px;
  color: rgba(255,255,255,0.550000011920929);
  position: absolute;
  top: 10px;
  left: 224px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: right;
}
.v56_1426 {
  width: 435px;
  height: 277px;
  background: url("../images/v56_1426.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 6px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 41px;
  overflow: hidden;
}
.v56_1427 {
  width: 422px;
  height: 235px;
  background: url("../images/v56_1427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v56_1428 {
  width: 273px;
  height: 194px;
  background: url("../images/v56_1428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 75px;
  overflow: hidden;
}
.v56_1429 {
  width: 53px;
  height: 41px;
  background: url("../images/v56_1429.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 84px;
  overflow: hidden;
}
.v56_1430 {
  width: 53px;
  height: 23px;
  background: rgba(7,218,249,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v56_1431 {
  height: 23px;
  background: linear-gradient(rgba(5,217,249,1), rgba(5,217,249,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
}
.v56_1432 {
  width: 53px;
  height: 31px;
  background: linear-gradient(rgba(5,217,249,1), rgba(40,226,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_1433 {
  height: 23px;
  background: linear-gradient(rgba(5,217,249,1), rgba(5,217,249,1));
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 54px;
}
.v56_1434 {
  width: 41px;
  height: 28px;
  background: linear-gradient(rgba(5,217,249,1), rgba(40,226,255,1));
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v56_1435 {
  width: 11px;
  height: 26px;
  background: linear-gradient(rgba(0,133,153,1), rgba(0,133,153,1));
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
}
.v56_1436 {
  width: 51px;
  height: 96px;
  background: url("../images/v56_1436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 44px;
  overflow: hidden;
}
.v56_1437 {
  width: 51px;
  height: 79px;
  background: rgba(255,174,76,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v56_1438 {
  width: 20px;
  height: 33px;
  background: linear-gradient(rgba(230,126,0,1), rgba(230,126,0,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 31px;
}
.v56_1439 {
  width: 29px;
  height: 54px;
  background: linear-gradient(rgba(255,213,163,1), rgba(255,216,170,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v56_1440 {
  width: 19px;
  height: 42px;
  background: linear-gradient(rgba(255,213,163,1), rgba(255,216,170,1));
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 32px;
}
.v56_1441 {
  width: 1px;
  height: 29px;
  background: linear-gradient(rgba(255,190,111,1), rgba(255,182,94,1));
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
}
.v56_1442 {
  width: 1px;
  height: 25px;
  background: linear-gradient(rgba(255,190,111,1), rgba(255,182,94,1));
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 31px;
}
.v56_1443 {
  width: 6px;
  height: 37px;
  background: linear-gradient(rgba(244,134,0,1), rgba(255,154,31,1));
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 31px;
}
.v56_1444 {
  width: 10px;
  height: 47px;
  background: linear-gradient(rgba(244,134,0,1), rgba(255,154,31,1));
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 0px;
}
.v56_1445 {
  width: 27px;
  height: 27px;
  background: linear-gradient(rgba(255,198,129,1), rgba(255,198,129,1));
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 11px;
}
.v56_1446 {
  width: 123px;
  height: 182px;
  background: url("../images/v56_1446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 137px;
  overflow: hidden;
}
.v56_1447 {
  width: 123px;
  height: 165px;
  background: rgba(112,134,253,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v56_1448 {
  width: 75px;
  height: 35px;
  background: linear-gradient(rgba(35,68,255,1), rgba(75,102,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v56_1449 {
  width: 0px;
  height: 39px;
  background: linear-gradient(rgba(114,135,252,1), rgba(114,135,252,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v56_1450 {
  width: 0px;
  height: 39px;
  background: linear-gradient(rgba(114,135,252,1), rgba(114,135,252,1));
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
}
.v56_1451 {
  width: 44px;
  height: 64px;
  background: linear-gradient(rgba(62,91,255,1), rgba(5,43,255,1));
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 76px;
}
.v56_1452 {
  width: 37px;
  height: 26px;
  background: linear-gradient(rgba(35,68,255,1), rgba(75,102,255,1));
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
}
.v56_1453 {
  width: 22px;
  height: 40px;
  background: linear-gradient(rgba(62,91,255,1), rgba(5,43,255,1));
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 38px;
}
.v56_1454 {
  width: 4px;
  height: 40px;
  background: linear-gradient(rgba(114,135,252,1), rgba(87,112,254,1));
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 120px;
}
.v56_1455 {
  width: 2px;
  height: 28px;
  background: linear-gradient(rgba(114,135,252,1), rgba(87,112,254,1));
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 60px;
}
.v56_1456 {
  width: 4px;
  height: 34px;
  background: linear-gradient(rgba(114,135,252,1), rgba(149,165,255,1));
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 58px;
}
.v56_1457 {
  width: 9px;
  height: 51px;
  background: linear-gradient(rgba(114,135,252,1), rgba(149,165,255,1));
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 115px;
}
.v56_1458 {
  width: 26px;
  height: 38px;
  background: linear-gradient(rgba(185,196,255,1), rgba(215,221,255,1));
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 31px;
}
.v56_1459 {
  width: 52px;
  height: 60px;
  background: linear-gradient(rgba(185,196,255,1), rgba(215,221,255,1));
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 62px;
}
.v56_1460 {
  width: 30px;
  height: 55px;
  background: linear-gradient(rgba(16,52,255,1), rgba(16,52,255,1));
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 31px;
}
.v56_1461 {
  width: 247px;
  height: 176px;
  background: rgba(111,134,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 13px;
  border-radius: 50%;
}
.v56_1462 {
  width: 139px;
  height: 68px;
  background: url("../images/v56_1462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 48px;
  overflow: hidden;
}
.v56_1463 {
  width: 139px;
  height: 51px;
  background: rgba(111,209,149,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
}
.v56_1464 {
  width: 34px;
  height: 29px;
  background: linear-gradient(rgba(148,226,178,1), rgba(148,226,178,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_1465 {
  width: 15px;
  height: 31px;
  background: linear-gradient(rgba(47,191,103,1), rgba(39,171,90,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 35px;
}
.v56_1466 {
  width: 21px;
  height: 25px;
  background: linear-gradient(rgba(83,205,130,1), rgba(62,203,116,1));
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 50px;
}
.v56_1467 {
  width: 23px;
  height: 22px;
  background: linear-gradient(rgba(153,227,181,1), rgba(136,220,168,1));
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 97px;
}
.v56_1468 {
  width: 24px;
  height: 19px;
  background: linear-gradient(rgba(120,213,156,1), rgba(103,208,143,1));
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 72px;
}
.v56_1469 {
  width: 25px;
  height: 39px;
  background: linear-gradient(rgba(47,191,103,1), rgba(39,171,90,1));
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
}
.v56_1470 {
  width: 19px;
  height: 41px;
  background: linear-gradient(rgba(43,181,96,1), rgba(43,181,96,1));
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 121px;
}
.v56_1471 {
  width: 35px;
  height: 30px;
  background: linear-gradient(rgba(83,205,130,1), rgba(62,203,116,1));
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 26px;
}
.v56_1472 {
  width: 38px;
  height: 26px;
  background: linear-gradient(rgba(153,227,181,1), rgba(136,220,168,1));
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 102px;
}
.v56_1473 {
  width: 40px;
  height: 20px;
  background: linear-gradient(rgba(120,213,156,1), rgba(103,208,143,1));
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 61px;
}
.v56_1474 {
  width: 200px;
  height: 143px;
  background: rgba(111,209,149,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 37px;
  border-radius: 50%;
}
.v56_1475 {
  width: 185px;
  height: 132px;
  background: rgba(255,174,76,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 44px;
  border-radius: 50%;
}
.v56_1476 {
  width: 158px;
  height: 113px;
  background: rgba(7,218,249,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 58px;
  border-radius: 50%;
}
.v56_1477 {
  width: 401px;
  height: 219px;
  background: url("../images/v56_1477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
  overflow: hidden;
}
.v56_1478 {
  width: 83px;
  height: 27px;
  background: url("../images/v56_1478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 319px;
  overflow: hidden;
}
.v56_1479 {
  width: 29px;
  height: 27px;
  background: url("../images/v56_1479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v56_1480 {
  width: 26px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1481 {
  width: 19px;
  color: rgba(111,134,252,1);
  position: absolute;
  top: 15px;
  left: 11px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1482 {
  width: 83px;
  height: 4px;
  background: url("../images/v56_1482.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border: 0.8488847017288208px solid rgba(111,134,252,1);
}
.v56_1483 {
  width: 173px;
  height: 40px;
  background: url("../images/v56_1483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 0px;
  overflow: hidden;
}
.v56_1484 {
  width: 26px;
  height: 29px;
  background: url("../images/v56_1484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v56_1485 {
  width: 26px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1486 {
  width: 13px;
  color: rgba(111,209,149,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1487 {
  width: 172px;
  height: 22px;
  background: url("../images/v56_1487.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 0.8488847017288208px solid rgba(111,209,149,1);
}
.v56_1488 {
  width: 111px;
  height: 27px;
  background: url("../images/v56_1488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 1px;
  overflow: hidden;
}
.v56_1489 {
  width: 37px;
  height: 27px;
  background: url("../images/v56_1489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_1490 {
  width: 37px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1491 {
  width: 14px;
  color: rgba(255,174,76,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1492 {
  width: 110px;
  height: 7px;
  background: url("../images/v56_1492.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 2px;
  border: 0.8488847017288208px solid rgba(255,174,76,1);
}
.v56_1493 {
  width: 173px;
  height: 60px;
  background: url("../images/v56_1493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v56_1494 {
  width: 60px;
  height: 27px;
  background: url("../images/v56_1494.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_1495 {
  width: 60px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1496 {
  width: 13px;
  color: rgba(7,218,249,1);
  position: absolute;
  top: 15px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1497 {
  width: 172px;
  height: 46px;
  background: url("../images/v56_1497.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 2px;
  border: 0.8488847017288208px solid rgba(7,218,249,1);
}
.v56_1498 {
  width: 40px;
  color: rgba(0,0,0,0.8999999761581421);
  position: absolute;
  top: 105px;
  left: 193px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v56_1499 {
  width: 422px;
  height: 20px;
  background: url("../images/v56_1499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 7px;
  overflow: hidden;
}
.v56_1500 {
  width: 49px;
  height: 20px;
  background: url("../images/v56_1500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 3px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 91px;
  overflow: hidden;
}
.v56_1501 {
  width: 12px;
  height: 14px;
  background: url("../images/v56_1501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v56_1502 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_1502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v56_1503 {
  width: 6px;
  height: 7px;
  background: rgba(111,134,252,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 50%;
}
.v56_1504 {
  width: 26px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1505 {
  width: 49px;
  height: 20px;
  background: url("../images/v56_1505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 3px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 140px;
  overflow: hidden;
}
.v56_1506 {
  width: 12px;
  height: 14px;
  background: url("../images/v56_1506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v56_1507 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_1507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v56_1508 {
  width: 6px;
  height: 7px;
  background: rgba(111,209,149,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 50%;
}
.v56_1509 {
  width: 26px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1510 {
  width: 60px;
  height: 20px;
  background: url("../images/v56_1510.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 3px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 189px;
  overflow: hidden;
}
.v56_1511 {
  width: 12px;
  height: 14px;
  background: url("../images/v56_1511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v56_1512 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_1512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v56_1513 {
  width: 6px;
  height: 7px;
  background: rgba(255,174,76,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 50%;
}
.v56_1514 {
  width: 37px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1515 {
  width: 83px;
  height: 20px;
  background: url("../images/v56_1515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 3px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 249px;
  overflow: hidden;
}
.v56_1516 {
  width: 12px;
  height: 14px;
  background: url("../images/v56_1516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
}
.v56_1517 {
  width: 0px;
  height: 0px;
  background: url("../images/v56_1517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v56_1518 {
  width: 6px;
  height: 7px;
  background: rgba(7,218,249,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 50%;
}
.v56_1519 {
  width: 60px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 4px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v56_1542 {
  width: 550px;
  color: url("../images/v56_1542.png");
  position: absolute;
  top: 23px;
  left: 580px;
  opacity: 1;
  text-align: center;
}
