/* General calendar styling */
.light-theme-calendar {
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Styling for calendar tiles */
.light-theme-calendar .react-calendar__tile {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  width: 100%;
}

/* Ensure the current date with an interview has blue text */
.light-theme-calendar .react-calendar__tile--now.highlighted-date {
  
  color: #03213F !important;
  font-weight: bold;
  border: 2px solid #03213F;
}

/* Styling for navigation buttons */
.light-theme-calendar .react-calendar__navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.light-theme-calendar .react-calendar__navigation button {
  color: black;
  border: none;
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s, color 0.3s;
  justify-content: center;
  border: 1px solid #ddd;
}

/* Make the month title button wider */
.light-theme-calendar .react-calendar__navigation button.react-calendar__navigation__label {
  flex-grow: 2;
  padding: 12px 20px;
}

.light-theme-calendar .react-calendar__navigation button:hover {
  background-color: #E5ECF5;
  color: black;
  border: 1px solid #03213F;
}

/* Highlight dates with interviews using a different text color */
.highlighted-date {
  text-decoration: underline; /* Underline the date */
  color: #03213F !important; /* Highlighted text for interviews */
  border-radius: 50%; /* Make it circular */
  font-weight: bold;
 
}
